.header {
    font-family: cursive;
    color: rgb(228, 130, 18);
}

.common {
    color: rgb(241, 123, 12);
}

.blocks {
    background-color: rgb(245, 200, 3)
}

.ginger {
    color: rgb(8, 156, 241);
}